#category {
	font-size: 25px;
	font: Helvetica;
}

#page-title {
	font-size: 40px;
	font-weight: bolder;
	font: Helvetica;
}

.img {
	background-image: url("/images/simple.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: length;
	/* opacity: 0.2; */
	background-attachment: local;
	/* background-position: center top; */
	background-position: 50% 50%;
	/* background:transparent; */
	background-opacity: 0.5;
}

.main {
	font-size: 25px;
	font-weight: bold;
	font: Helvetica;
}

.reviews {
	font-size: 25px;
	font: Helvetica;
	font-weight: bolder
}

.reviews, section, h2, a {
	color: Tomato;
}

a:hover {
	text-decoration: underline;
	color: yellow;
}

footer {
	font-size: 15px;
	font: Helvetica;
	font-weight: bolder;
}