<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" type="text/css" href="./css/styles.css" />
<link rel="stylesheet" type="text/css" href="./css/layout.css" />
<title>Fruit Reviews</title>
</head>

<body class="img">

	<div class="container">

		<header>
			<div id="page-title">
				<h1>Fruit Review</h1>
			</div>
		</header>

		<div class="reviews">
			<h2 th:text="${review.name}"></h2>
			<h3 th:text="${review.category}"></h3>
			<img th:src="${review.image}" alt="A picture of fruit"></img>
			<p th:text="${review.date}"></p>
			<p th:text="${review.synopsis}"></p>
			<p th:text="${review.tag}"></p>
			<a href="http://localhost:8080/categories">List of Fruit
				Categories</a> <a href="http://localhost:8080/reviews">List of Fruit
				Reviews</a> <a class="reviews"
				th:href="@{/category(id=${review.category.categoryId})}">Back to
				Category</a>

		</div>
		<div class="forms">
			<form method="POST">
				<label>Enter a new tag name: </label> <input name="id" type="hidden"
					th:value="${review.id}" /> <input type="text" name="tagName" />
				<button th:formaction="@{/add-tag}">add</button>
			</form>

			<form method="POST">
				<input name="id" type="hidden" th:value="${review.id}" /> <label>Enter
					tag name to remove:</label> <input type="text" name="tagName" />
				<button th:formaction="@{/remove-tag}">delete</button>
			</form>


			<div id="comments">
				<div class="addComment">
					<label>Add a comment to this review: </label> <input
						id="commentArea" type="text" placeholder="Add A Comment" /> <input
						type="button" value="Add Comment" id="newComment" />
				</div>
			</div>
			<!-- onfocus="this.value='';" -->

		</div>
		<footer>
			<h4 class="copyright">&copy; 2017 JO.</h4>
		</footer>
	</div>
	<script src="/js/app.js"></script>
</body>
</html>